[[source]]
name = "basepkg-dev"
url = "https://github.com/user340/basepkg"
verify_ssl = true

[dev-packages]
python-language-server = "*"
flake8-mypy = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
mark-obsolete = "python mark-obsolete"
